<% if !@errors.nil? %>
 <div class="error">
   <%= @errors %>
 </div>
<% end %>

<%= form_tag "/login" do %>
<div class="field">
  <%= label_tag :email %><br>
  <%= email_field_tag :email %>
</div>
<div class="field">
  <%= label_tag :password %><br>
  <%= password_field_tag :password %>
</div>
<%= submit_tag %>

<% end %>
